body { background-color: bisque;
color: black;}
p {color: darkolivegreen;
font-style: italic;}
h4 {color: darkslateblue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}